.wrapper {
    padding: 0;
    margin: 0;
    margin-top: 125%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.container {
    width: 28vmin;
    height: 28vmin;
    border: 1px solid  rgb(14, 14, 138)  ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color:  rgb(14, 14, 138);
    border-bottom: 10px solid rgb(118, 222, 225)  ;
}

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(4, 4, 60);
    transition: 0.3s ease-in-out;
}

.icon-count {
    height: 50%;
    width: 50%;
    margin-left: 45px;
}

span.num {
    color: white;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text {
    color: white;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
}

@media screen and (max-width: 1024px){
    .wrapper {
        width: 85vw;
    }
    .container{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        width:90vw ;
        flex-wrap: wrap;
        gap: 30px;
    }
    .container {
        width:calc(50% - 40px) ;
        height:30vmin ;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        gap: 15px;
    }
    .container{
        width: 100%;
        height:25vmin ;
        font-size: 8px;
    }
}